<div class="container">
  <h3>Uitgangspunten</h3>
  <p>De uitgangspunten dienen als leidraad voor het ontwerpen van het pad. Dit zijn geen in beton gegoten regels. De
    bedoeling is de uitgangspunten te gebruiken tijdens het ontwerp en het maken van keuzes te vereenvoudigen.
  </p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="card card-body">
        <h4 class="card-title">Startpunt Amersfoort</h4>
        in Amersfoort staat de Onze Lieve Vrouwetoren, het kadastraal nulpunt van Nederland. Vanuit deze toren is heel
        Nederland binnen het rijksdriekhoekmeting stelsel opgemeten.
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card card-body">
        <h4 class="card-title">Eindpunt Maastricht</h4>
        Maastricht als verste punt van Amersfoort wordt het eindpunt. Het spiraalpad eindigt hier in een kleine spiraal.
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card card-body">
        <h4 class="card-title">Compleet</h4>
        De totale wandeling geeft een compleet beeld van Nederland, cultuur, natuur, wonen, werken etc. De lijsten in de
        points of interest zijn de ingredienten voor het samenstellen van de tocht.
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card card-body">
        <h4 class="card-title">Beeld boven verhaal</h4>
        Sommige plaatsen komen tot leven wanneer er een verhaal bij vertelt wordt. Ander plaatsen vertellen hun eigen
        verhaal door er alleen maar te zijn en te beleven. Plaatsen die geen verhaal nodig hebben, hebben de voorkeur.
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card card-body">
        <h4 class="card-title">Volledig in Nederland</h4>
        Het Spiraalpad gaat nergens de grens over. (Een uitzondering kan mogelijk handig/noodzakelijk zijn in Baarle
        Nassau).
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card card-body">
        <h4 class="card-title">Grens</h4>
        De buitenste spiraal volgt zoveel mogelijk de grens. Compleetheid en offroad zijn belangrijker.
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card card-body">
        <h4 class="card-title">Offroad</h4>
        Daar waar mogelijk loopt het pad over niet verharde wegen. Het vermijden van fietspaden is wenselijk.
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card card-body">
        <h4 class="card-title">Geen kruisende paden</h4>
        Het pad spiraalt maar kruist niet. Waarbij tweemaal op dezelfde plaats zijn niet als kruisen wordt gezien.
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card card-body">
        <h4 class="card-title">Niet teruglopen</h4>
        Het pad heeft een richting, slingeren t.o.v. deze richting is prima, teruglopen wordt vermeden.
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card card-body">
        <h4 class="card-title">Eilanden</h4>
        Alle waddeneilanden zijn opgenomen in het Spiraalpad.
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card card-body">
        <h4 class="card-title">Route boven voorzieningen</h4>
        Het pad wordt niet primair gepland langs voorzieningen als restaurant, slaapgelegenheden en (bus)stations.
        Compleetheid en Offroad zijn
        bijvoorbeeld belangrijker.
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card card-body">
        <h4 class="card-title">Hond</h4>
        Bij het ontwerpen wordt geen rekening gehouden met toegangkelijkheid voor honden.
      </div>
    </div>
  </div>
</div>
