<div class="container">
  <app-landing-poi class="container"></app-landing-poi>

  <div class="container">
    <div class="card-deck">
      <app-landing-uitgangspunten class="card"></app-landing-uitgangspunten>
      <app-landing-achtergrond class="card"></app-landing-achtergrond>
      <app-landing-acties class="card"></app-landing-acties>
    </div>
  </div>

</div>
