<div class="container">
  <h2>Points of interest</h2>

  <div class="row">

    <div class="col-sm-3">
      <div class="card card-body">
        <img class="card-img-top" src="../../../../assets/amsterdam.jpg"/>
        <a href="poi/hoofdstad"><h5 class="card-title">Hoofdsteden</h5></a>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card card-body">
        <img class="card-img-top" src="../../../../assets/stellingVanAmsterdam.jpg"/>
        <h5 class="card-title">Werelderfgoed</h5>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card card-body">
        <img class="card-img-top" src="../../../../assets/sallandseHeuvelrug.jpg"/>
        <h5 class="card-title">Nationaal park</h5>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card card-body">
        <img class="card-img-top" src="../../../../assets/rijksmonument.jpg"/>
        <h5 class="card-title">Rijksmonument</h5>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card card-body">
        <img class="card-img-top" src="../../../../assets/industrieelErfgoed.jpg"/>
        <h5 class="card-title">Industrieel erfgoed</h5>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card card-body">
        <img class="card-img-top" src="../../../../assets/stadsrechten.jpg"/>
        <h5 class="card-title">Steden met stadsrechten</h5>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card card-body">
        <img class="card-img-top" src="../../../../assets/architectuur.jpg"/>
        <h5 class="card-title">Architectuur</h5>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card card-body">
        <img class="card-img-top" src="../../../../assets/industrie.jpg"/>
        <h5 class="card-title">Industrie</h5>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card card-body">
        <img class="card-img-top" src="../../../../assets/haven.jpg"/>
        <h5 class="card-title">Havens</h5>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card card-body">
        <img class="card-img-top" src="../../../../assets/waterwerken.jpg"/>
        <h5 class="card-title">Waterwerken</h5>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card card-body">
        <img class="card-img-top" src="../../../../assets/natuurmonumenten.jpg"/>
        <h5 class="card-title">Natuurmonumenten</h5>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card card-body">
        <img class="card-img-top" src="../../../../assets/rivieren.jpg"/>
        <h5 class="card-title">Rivieren</h5>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card card-body">
        <img class="card-img-top" src="../../../../assets/kunst.jpg"/>
        <h5 class="card-title">Kunst</h5>
      </div>
    </div>

  </div>

</div>

