<div>
  <h4>Achtergrond</h4>

  <p><img class="float-left" src="../../assets/TeAraroa.png" height="200" width="150"/>Eind dit jaar gaan wij de Te
    Araroa lopen. Een wandeling van 3000 km die heel Nieuw Zeeland doorkruist. Tijdens de
    voorbereiding van deze tocht ontstond het idee om ook in Nederland een wandeling van epische proporties te
    ontwerpen. Een dergelijke wandeling bestaat nog niet en eerste instantie denk je, dat kan ook niet, maar dat kan
    natuurlijk prima in de vorm van een spiraal.</p>
    <p>Het doel is een route te ontwerpen die 'alles' van Nederland laat
    zien. Niet alleen natuur- maar ook industriële gebieden. Niet alleen prachtige architectuur maar ook het lelijkste
    huis van Nederland...</p>
</div>
