<a href="uitgangspunten"><h4>Uitgangspunten</h4></a>
<p><i class="fas fa-play"></i> Startpunt Amersfoort</p>
<p><i class="fas fa-stop"></i> Eindpunt Maastricht</p>
<p><i class="fas fa-images"></i> Compleet</p>
<p><i class="far fa-image"></i> Beeld voor verhaal</p>
<p><i class="far fa-circle"></i> Volledig in Nederland</p>
<p><i class="fas fa-times"></i> Geen kruisende paden</p>
