<div class="container">
  <h2>Hoofdsteden</h2>
  Amsterdam en de provinciehoofdsteden.

  <div class="row">

    <div class="col-sm-3">
      <div class="card card-body">
        <img class="card-img-top" src="../../../../assets/amsterdam.jpg"/>
        <h5 class="card-title">Amsterdam</h5>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card card-body">
        <img class="card-img-top" src="../../../../assets/arnhem.jpg"/>
        <h5 class="card-title">Arnhem</h5>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card card-body">
        <img class="card-img-top" src="../../../../assets/assen.jpg"/>
        <h5 class="card-title">Assen</h5>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card card-body">
        <img class="card-img-top" src="../../../../assets/denhaag.jpg"/>
        <h5 class="card-title">Den Haag</h5>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card card-body">
        <img class="card-img-top" src="../../../../assets/groningen.jpg"/>
        <h5 class="card-title">Groningen</h5>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card card-body">
        <img class="card-img-top" src="../../../../assets/haarlem.jpg"/>
        <h5 class="card-title">Haarlem</h5>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card card-body">
        <img class="card-img-top" src="../../../../assets/shertogenbosch.jpg"/>
        <h5 class="card-title">'s-Hertogenbosch</h5>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card card-body">
        <img class="card-img-top" src="../../../../assets/leeuwarden.jpg"/>
        <h5 class="card-title">Leeuwarden</h5>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card card-body">
        <img class="card-img-top" src="../../../../assets/lelystad.jpg"/>
        <h5 class="card-title">Lelystad</h5>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card card-body">
        <img class="card-img-top" src="../../../../assets/maastricht.jpg"/>
        <h5 class="card-title">Maastricht</h5>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card card-body">
        <img class="card-img-top" src="../../../../assets/middelburg.jpg"/>
        <h5 class="card-title">Middelburg</h5>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card card-body">
        <img class="card-img-top" src="../../../../assets/utrecht.jpg"/>
        <h5 class="card-title">Utrecht</h5>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card card-body">
        <img class="card-img-top" src="../../../../assets/zwolle.jpg"/>
        <h5 class="card-title">Zwolle</h5>
      </div>
    </div>

  </div>

</div>

