<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="/assets/logo.jpg" width="30" height="30" alt="">
    {{title}}</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="poi">POI</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="uitgangspunten">Uitgangspunten</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="acties">Acties</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

<nav id="footer" class="navbar bottom navbar-light bg-light">
  info@spiraalpad.nl
</nav>
