<a href="acties"><h4>Acties</h4></a>
<p>Er moet nog een waslijst aan acties worden uitgevoerd. Verschillende acties kunnen wij heel goed hulp gebruiken. Als
  je aan één van onderstaande acties een steentje kunt bijdragen ben je van harte welkom</p>
<h5><i class="fas fa-play"></i> Points of Interest</h5>
<p>Er zijn inmiddels verschillende lijsten met interessante punten. De lijsten die er zijn moeten, indien nog niet
  aanwezig, worden voorzien van GPX bestanden met de locaties. Daarnaast zijn we nog op zoek naar lijsten in de sfeer
  van architectuur, idustrieel erfgoed, het industriele landschap en zeer waarschijnlijk zijn er poi's waaraan wij
  niet hebben gedacht. Laat het ons weten!</p>
