<a href="poi"><h4>Points of Interest</h4></a>

<div class="card-deck">
  <div class="card card-body">
    <img class="card-img-top" src="../../assets/arnhem.jpg"/>
    <a href="poi/hoofdstad"><h5 class="card-title">Hoofdsteden</h5></a>
    <p>Alle provinciehoofdsteden worden aangedaan en natuurlijk de hoofdstad van Nederland,
      Amsterdam.</p>
  </div>
  <div class="card card-body">
    <img class="card-img-top" src="../../assets/Kinderdijk.jpg"/>
    <h5 class="card-title">Werelderfgoedlijst</h5>
    <p>Op de werelderfgoedlijst staan verschillende bezienswaaridigheden die wereldfaam hebben bereikt. Naast de lijst
      zelf is er de reservelijst en de lijst van erfgoederen die het niet hebben gehaald op de officiële lijst, maar wel
      zijn aangedragen.</p>
  </div>
  <div class="card card-body">
    <img class="card-img-top" src="../../assets/hoge veluwe.jpg"/>
    <h5 class="card-title">Nationaal park</h5>
    <p>Nederland heeft twintig nationale parken. Samen vertellen zij het verhaal van de Nederlandse natuur. In de parken
      zijn alle bijzonderheden van de Nederlandse natuur terug te vinden: duinen, bossen, heide, laagveen,
      getijdenwater, beekdalen en vennen.</p>
  </div>
  <div class="card card-body">
    <img class="card-img-top " src="../../assets/natuurmonumenten.jpg"/>
    <a href="https://www.natuurmonumenten.nl/" target="_blank"><h5 class="card-title">Natuurmonument</h5></a>
    <p>Natuurmonumenten is de vereniging voor mensen met hart voor de natuur. Wij geven de natuur in Nederland de
      ruimte. We beschermen natuurgebieden, waardevolle landschappen en cultureel erfgoed. Zo blijft onze natuur
      behouden en kunnen we hier met zijn allen nog eeuwenlang van blijven genieten.</p>
  </div>
</div>
