<div class="container">
  <div class="card-deck">
    <div class="card card-body">
      <h4 class="card-title">Website</h4>
      <ul>
        <li>organiseren van vrijwilligers</li>
        <li>ondersteunen van routeontwerp</li>
        <li>informeren van de eerste wandelaars</li>
      </ul>
    </div>

    <div class="card card-body">
      <h4 class="card-title">Route ontwerp</h4>
      <ul>
        <li>Points of Interest</li>
        <li>Segmentering</li>
        <li>Route positie labels</li>
      </ul>
    </div>

    <div class="card card-body">
      <h4 class="card-title">Financieel</h4>
      <ul>
        <li>Donateurschap</li>
        <li>Sponsoren</li>
        <li>Crowd funding</li>
      </ul>
    </div>
  </div>
  <div class="card-deck">
    <div class="card card-body">
      <h4 class="card-title">Organisatie</h4>
      <ul>
        <li>Vrijwilligers netwerk</li>
        <li>Organisatievorm</li>
        <li>Functies, taken en bevoegdheden</li>
      </ul>
    </div>

    <div class="card card-body">
      <h4 class="card-title">Mobile App</h4>
      <ul>
        <li>Bevat de route</li>
        <li>Registreet de route die je aan het lopen bent</li>
        <li>Geeft informatie over bezienswaardigheden</li>
        <li>Geeft informatie over voorzieningen</li>
      </ul>
    </div>

    <div class="card card-body">
      <h4 class="card-title">Publiciteit en samenwerking</h4>
    </div>
  </div>
</div>
